	body {
			background-image: url(pict.jpg);
			background-size: cover;
		}
		header{
			background-color: black;
			font-size: 35px;
			margin-right: 40px;
			height: 50px;
			width: 100%;
		}
		content{
			margin-top: 5px;
			position: static;
		}
		footer{
			text-align: center;
			margin-top: 5px;
		}
		nav ul{
			margin:0px;
			padding: 5px 0px 5px 30px;
		}
		nav li{
			display: inline;
			margin-right: 40px;
		}
		nav li a {
			color: #ffffff;
		}
		nav li a:hover{
			color: #de6581;
		}

		h1{
			position: relative;
			top: -10px;
			left: 10px;
		}

		.field {
			background-color: rgba(50,50,50,0.5);
			position: fixed;
			top: 0px;
			width: relative;
			left: 20px;
			right: 20px;
			height: 100%;
		}
		.fieldh {
			background-color: rgba(170,0,0,0.7);
			position: fixed;
			top: 0px;
			width: relative;
			right: 20px;
			left: 20px;
			height:40px;
		}
		.fieldn {
			background-color: rgba(170,0,0,0.7);
			position: fixed;
			top: 50px;
			width: relative;
			right: 20px;
			left: 20px;
			height:30px;
		}
		.fieldc {
			background-color: rgba(50,50,50,0.5);
			float: left;
			position: relative;
			top: 90px;
			width: relative;
			right: 20px;
			left: 20px;
			height:relative;
		}

		.fieldf {
			background-color: black;
			position: fixed;
			bottom: 0px;
			width: relative;
			right: 20px;
			left: 20px;
			height:30px;
		}
		.fielda {
			background-color: rgba(50,50,50,0.9);
			float: left;
			position: relative;
			top: 80px;		
			width: relative;
			height: relative;
		}


		aside {
			top: 80px;
			width: 230px;
			float: left;
			padding: 0px 0px 0px 20px;
		}
		aside section a {
			display: block;
			padding: 10px;
			border-bottom: 1px solid #eeeeee;
		}
		aside section a:hover {
			color: #985d6a;
			background-color: #efefef;
		}